<!DOCTYPE html>
<head>
    <link type='text/css' rel='stylesheet' href='static/css/main.css'>
    <meta name=”viewport” content=”width=device-width, initial-scale=1″>
</head>
<body>
    <%- include('./partials/navigation'); %>
    <div id='all-menus'>
        <%- include('./partials/full-lunch'); %>
        <%- include('./partials/tea-wine') %>
        <%- include('./partials/catering') %>
    </div>
    <%- include('./partials/footer'); %>
    <script type='text/javascript' src='public/menu.js'></script>
</body>
</html>
